
<p>
  <strong>Address:</strong>
  <h3><%= @flat.address %></h3>
</p>
<p>
  <img src="<%= @flat.url %>" alt="flat image">
  <strong>image:</strong>
</p>
<p>
  <strong>Description:</strong>
  <p><%= @flat.description %></p>
</p>
<p>
  <strong>Price per night:</strong>
  <p><%= @flat.price_per_night %></p>
</p>
<p>
  <strong>Number of guests:</strong>
  <p><%= @flat.number_of_guests %></p>
</p>
